<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kongww.work.mapper.ProductWarehouseMapper">
    <resultMap id="BaseResultMap" type="com.kongww.work.pojo.entity.ProductWarehouseDO">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="product_id" jdbcType="INTEGER" property="productId"/>
        <result column="warehouse_id" jdbcType="INTEGER" property="warehouseId"/>
        <result column="quantity" jdbcType="INTEGER" property="quantity"/>
    </resultMap>
</mapper>