<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kongww.work.mapper.ProductMapper">
    <resultMap id="BaseResultMap" type="com.kongww.work.pojo.entity.ProductDO">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="detail" jdbcType="VARCHAR" property="detail"/>
        <result column="cost_price" jdbcType="DECIMAL" property="costPrice"/>
        <result column="unit_price" jdbcType="DECIMAL" property="unitPrice"/>
        <result column="classify" jdbcType="VARCHAR" property="classify"/>
    </resultMap>
    <sql id="Base_Column_List">
		id,name,description,detail,cost_price,unit_price,classify
	</sql>
    <select id="list" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        product
        <if test="keyword != null and keyword != '' ">
            where
            name like concat('%',#{keyword},'%') or
            description like concat('%',#{keyword},'%')
        </if>
    </select>

    <select id="listByName" parameterType="java.lang.String" resultType="java.util.HashMap">
        select
        id,name
        from
        product
        <if test="keyword != null and keyword != '' ">
            where
            name like concat('%',#{keyword},'%')
        </if>
    </select>


</mapper>