<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kongww.work.mapper.StockListMapper">
    <resultMap id="BaseResultMap" type="com.kongww.work.pojo.entity.StockListDO">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="product_id" jdbcType="INTEGER" property="productId"/>
        <result column="product_name" jdbcType="VARCHAR" property="productName"/>
        <result column="warehouse_id" jdbcType="INTEGER" property="warehouseId"/>
        <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName"/>
        <result column="unit_price" jdbcType="DECIMAL" property="unitPrice"/>
        <result column="quantity" jdbcType="INTEGER" property="quantity"/>
        <result column="purchase_time" jdbcType="TIMESTAMP" property="purchaseTime"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>
</mapper>