<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kongww.work.mapper.SysRoleAclMapper">
    <resultMap id="BaseResultMap" type="com.kongww.work.pojo.entity.SysRoleAcl">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="pk_id" jdbcType="INTEGER" property="pkId"/>
        <result column="role_id" jdbcType="INTEGER" property="roleId"/>
        <result column="acl_id" jdbcType="INTEGER" property="aclId"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="user_create" jdbcType="VARCHAR" property="userCreate"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="user_modified" jdbcType="VARCHAR" property="userModified"/>
    </resultMap>
</mapper>