<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kongww.work.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.kongww.work.pojo.entity.UserDO">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime"/>
        <result column="token" jdbcType="VARCHAR" property="token"/>
        <result column="token_take_effect_time" jdbcType="TIMESTAMP" property="tokenTakeEffectTime"/>
        <result column="token_age" jdbcType="INTEGER" property="tokenAge"/>
        <result column="pw_errors_count" jdbcType="INTEGER" property="pwErrorsCount"/>
    </resultMap>

    <select id="getUserVO" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        id,username,password,mobile,email,remark,last_login_time,token,pw_errors_count
        from user
        where
          username like '%${account}%' or
          mobile like '%${account}%' or
          email like '%${account}%'
    </select>

    <select id="checkRepeat" parameterType="java.lang.String" resultType="java.lang.Integer">
        select
        count(1)
        from user
        where
          username = #{account}% or
          mobile = #{account} or
          email = %#{account}%
    </select>

    <select id="list" parameterType="java.lang.String" resultType="com.kongww.work.pojo.vo.UserVO">
        select
        id,username,mobile,email,remark,last_login_time,token,pw_errors_count
        from user
        <if test="keyWord != null and keyWord != '' ">
            where (
            username like '%${keyWord}%' or
            mobile like '%${keyWord}%' or
            email like '%${keyWord}%'
            )
        </if>
    </select>

    <select id="selectAccount" parameterType="java.lang.String" resultType="String">
        SELECT
          username account
        FROM
          user
        WHERE
          username LIKE '%${keyword}%'
        UNION
          SELECT
            email account
          FROM
            user
          WHERE
          email LIKE '%${keyword}%'
        UNION
          SELECT
            mobile account
          FROM
            user
          WHERE
            mobile LIKE '%${keyword}%'
    </select>
</mapper>