<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kongww.work.mapper.WarehouseMapper">
    <resultMap id="BaseResultMap" type="com.kongww.work.pojo.entity.WarehouseDO">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
    </resultMap>
    <sql id="Base_Column_List">
		id,name,address,remark,status
	</sql>
    <select id="list" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        warehouse
        <if test="keyword != null and keyword != '' ">
            where
            name like '%${keyword,jdbcType=VARCHAR}%' or
            address like '%${keyword,jdbcType=VARCHAR}%' or
            remark like '%${keyword,jdbcType=VARCHAR}%'
        </if>
    </select>
</mapper>